:root {
    --primary-background: #191919;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}
h2 {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}

p {
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
}
body {
    margin: 30px;
    background-color: #EEEEEE;
}

.hero {
    background-color: var(--primary-background);
}

