:root {
    --primary-background: #424141;
    --button-color: #424141;
    --button-and-body-color: #eeeeee;
    --hover-color: #54647F;
}

@media (max-width: 576px) {
    .description-p {
        text-align: center;
    }
    h3 {
        text-align: center;
    }
    .media-button {
        text-align: center;
        font-size: 12px;
    }
}
.heading {
    margin-top: 50px;
}

h1,
h2 {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}

.launch-button {
    background-color: var(--button-color);
    color: var(--button-and-body-color);
    text-decoration: none;
    font-weight: 500;
    margin: 10px auto;
    padding: 10px;
    border-radius: 10px;
}

.launch-button:hover {
    background-color: var(--hover-color);
    text-decoration: underline;
}

p {
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
}

body {
    background-color: #eeeeee;
    margin: 20px;
}

.hero {
    background-color: var(--primary-background);
    border-radius: 4px;
}
